.districts-table{
            background-color: powderblue;
            filter: drop-shadow(10px 10px 7px #13566f);
            border-radius: 8px;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 30px;
            align-items: center;
            margin: 25px;
            padding: 25px;
        }
.districts-table table {
            width: 80%; /* Set an initial width percentage for larger screens */
            max-width: 600px; /* Set a maximum width for the table */
            border-collapse: collapse;
            margin: 0 auto; /* Center the table horizontally */
            margin-bottom: 20px;
        }
.districts-table 
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
.districts-table th {
            background-color: #f2f2f2;
        }
